<br>
<div class="tile is-child notification is-black">
    <p class="title is-2">Gráficas que utlizan AMCHARTS</p>
    <p>Gráficas integradas con Angular y Amcharts. Utilizando las propias librerías de construcción de gráficas de Amcharts en el código JS pero no logré integrar la consulta sql ni la interacción de botones para filtrado, por ahora se muestra con datos fijos construidos de la consulta a la base de datos construida..</p>
    <p class="subtitle is-3">Grafica  3D por ciudades.
            <button class="button is-success">
            <span class="icon is-small">
              <i class="fas fa-check"></i>
            </span>
            <span>Editando</span>
          </button>
    </p>
</div>

<div id="chartdiv" style="width: 100%; height: 500px"></div>
<!--<div id="chartdiv2" style="width: 100%; height: 500px"></div>-->
<br>
