<br>
<div class="tile is-child notification is-info">
    <p class="title is-1">MySql + PHP</p>
    <br>
    <p class="subtitle is-2">Gráficas que utlizan la plataforma Microsoft Power BI para almacenar, convertir y presentar al usuario gráficas por medio de reportes dinámicos.</p>
      <br><a class="button is-large is-inverted is-outlined" href="./amcharts4/examples/javascript/cylinder-chart/index_sede.php" target="_blank"> Gr&aacute;ficos AMCHARTS 1 sin interactividad </a>
      <br><a class="button is-large is-inverted is-outlined" href="./amcharts4/examples/javascript/cylinder-chart/index_riesgo_des.php" target="_blank"> Gr&aacute;ficos AMCHARTS 2 sin interactividad</a>
      <br><a class="button is-large is-inverted is-outlined" href="./amcharts4/examples/javascript/cylinder-chart/index_riesgo_niv.php" target="_blank"> Gr&aacute;ficos AMCHARTS 3 sin interactividad</a>
      <br><button class="button is-success">
            <span class="icon is-small">
              <i class="fas fa-check"></i>
            </span>
            <span>Editando</span>
          </button>

        </div>