<br>
<div class="tile is-child notification is-warning">
    <p class="title is-1">Power BI</p>
    <p class="subtitle is-2">Gráficas que utlizan la plataforma Microsoft Power BI para almacenar, convertir y presentar al usuario gráficas por medio de reportes dinámicos.</p>
      <br><a class="button is-large is-inverted is-outlined" href="https://app.powerbi.com/view?r=eyJrIjoiODE0YmIyOGEtNThiZi00MDRhLWEwOTEtNWFhM2I2OTllNjhjIiwidCI6ImUxNjg3ZTY3LTBkODMtNGNhNS04OGVmLWQ0ODZlODljZmRmZCJ9" target="_blank"> Dashboard en  PowerBI </a>
  </div>
