<div class="tile is-ancestor" >
  <div class="tile is-parent">
    <div class="tile is-8 is-vertical is-parent">
      <div class="tile is-child notification is-success">
        <p class="title">PÁGINA DE PRUEBA</p>
        <p>Esta propuesta consiste en un desarrollo para consulta web de información del reporte entregado en formato excel, por medio de angular y typescript.</p>
        <p>Una propuesta se publico en una base de datos MySql y por medio de PHP se consulta la base de datos y se constuye la estructura usada por AMCHARTS.</p>
        <p>El segundo modelo esta construido en Microsoft Power BI, utilizando la misma data y herramientas de visualización que incluyen algunas ventajas de interactividad.</p>
        <p>Se experimento con gráficas desde el propio Angular pero con cargue estatico de datos únicamente.</p>
        <p>Iván Rueda - ivanruedaaud@gmail.com</p>
      </div>
      <div class="tile is-child notification is-warning">
        <p class="title is-1">Power BI</p>
      <a class="button is-light is-inverted is-outlined is-fullwidth" href="./powerbi">Ver contenido</a>
      </div>  
  </div>
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child notification is-info">
      <p class="title is-1">MySql + PHP</p>
      <br><a class="button is-primary is-inverted is-outlined is-fullwidth" href="./datasql"> Ver contenido </a>
      </div>
    <div class="tile is-child notification is-black">
      <p class="title is-1">Angular JS</p>
      <a class="button is-success is-inverted is-outlined is-fullwidth" href="./amcharts">Ver contenido</a>
    </div>
  </div>
</div>
